<nav>
    <div class="max-width">
        <div class="header">
            <img src="assets/cc.png" alt="symbol">
            <ul id="naviconul">
                <li><fa-icon id="navicon" (click)="openNav()" [icon]="faNav"></fa-icon></li>
            </ul>
        </div>

        <ul id="navrouter" #navrouter>
            <li><a routerLink="" fragment="home">Home</a></li>
            <li><a routerLink="" fragment="aboutme">About me</a></li>
            <li><a routerLink="" fragment="experience">Experience</a></li>
            <li><a routerLink="" fragment="skills">Skills</a></li>
            <li><a routerLink="" fragment="projects">Projects</a></li>
            <li><a routerLink="" fragment="achievements">Achievements</a></li>
            <!-- <li><a routerLink="" fragment="contact">Contact me</a></li> -->
        </ul>
    </div>
</nav>