<div class="main-container">
    <div class="title">
        <h3>About me. <span class="line"></span></h3>
    </div>
    <div class="inner-container">
        <div class="left">
            <img src="assets/pic4.png" alt="img">
        </div>
        <div class="right">
            <div class="intro">
                I am currently studying in Computer engineering, committed to utilize my skills for further mission of thecompany. Looking for a challenging role in a organization to utilize my Core and Advanced Java, Pythonand Machine learning skills. I am enthusiast in the field of Machine learning and WebDevelopment. Bringing forth the ability to work well with others to utilize my art to visually enhance projectsand upskilling other passionate technologies to create more delightful experiences.
            </div>
            <div class="education">
                <div class="edu">
                        <b>&#9679; &nbsp; BE - Computer Engineering</b>
                    <div class="edu-box">
                        <span class="year">2020-2024</span>
                        <p class="clg">PCETs Nutan Maharashtra Institute of Engineering and Technology, Talegoan.</p>
                    </div>
                </div>
                <div class="edu">
                    <b>&#9679; &nbsp; Maharashtra State Board HSC - 12<sup>th</sup></b>
                    <div class="edu-box">
                        <span class="year">2018-2020</span>
                        <p class="clg">Novel Junior College of Science and Commerce, Chinchwad.</p>
                    </div>
                </div>
                <div class="edu">
                    <b>&#9679; &nbsp; Maharashtra State Board SSC - 10<sup>th</sup></b>
                    <div class="edu-box">
                        <span class="year">-2018</span>
                        <p class="clg">Defence Carrer Academy, Chhatrapati Shivaji Maharaj Preparatory High School, Chhatrapati Sambhaji Nagar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>