.main-container{
    width: 90em;
    height: 100%;
    position: relative;
    top: 50px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}
.main-container .title{
    padding: 10px;
    margin-left: 3rem;
    font-size: 20px;
    font-weight: bold;
}
.main-container .title .line{
    padding: 0px 80rem 0px 0px;
    border-bottom: 2px solid black;
    font-size: 2px;
}
.main-container .inner-container{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.main-container .inner-container .right{
    margin: 15px;
    padding: 40px 10px;
    /* border: 2px solid rebeccapurple; */
    padding: 2em;
    text-align: justify;
}
.main-container .inner-container .right .intro{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
}
.main-container .inner-container .right .education{
    font-size: 17px;
}
.main-container .inner-container .right .education .edu{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}
.main-container .inner-container .right .education .edu .edu-box{
    border-left:3px solid yellow; 
    margin-left: 3px;
    padding: 8px 5px 5px 1em;
    font-size: 15px;
    font-weight: 600;
}
.main-container .inner-container .right .education .edu .edu-box .year{
    background-color: yellow;
    padding:4px;
}
.main-container .inner-container .right .education .edu .edu-box .clg{
    padding-top: 8px
}
.main-container .inner-container .right .education .edu a{
    width: 120px;
    outline: none;
    border: none;
    background-color: yellow;
    padding: 6px;
    margin-top: 15px;
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
}
.main-container .inner-container .right .education .edu a:hover{
    background-color: rgb(244, 244, 101);
}
.main-container .inner-container .left{
    /* border: 2px solid rebeccapurple; */
    height: 460px;
    width: 30rem;
    margin: 15px;
    padding: 2em;
}

@media (max-width:650px) {
    .main-container{
        width: 40em;
    }
    .main-container .title .line{
        padding: 0px 25rem 0px 0px;

    }
    .main-container .title{
        margin-left: 1rem;
    }
    .main-container .inner-container{
        display: flex;
        flex-direction: column;
    }
    .main-container .inner-container .left{
        text-align: center;
    }
    .main-container .inner-container .right{
        width: 500px;
    }
    .main-container .inner-container .right{
        margin-left: 10px;
        padding-left: 15px;
    }
}

@media (max-width:400px){
    .main-container .title .line{
        padding: 0px 20rem 0px 0px;
    }
}