.main-container{
    width: 100%;
    height: 95%;
    position: relative;
    top: 50px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}
.main-container .title{
    padding: 10px;
    margin-left: 3rem;
    font-size: 16px;
    font-weight: bold;
}
.main-container .title .line{
    padding: 0px 40rem 0px 0px;
    border-bottom: 2px solid black;
    font-size: 2px;
}
.main-container .inner-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid rebeccapurple; */
}
.main-container .inner-container .right{
    margin: 15px;
    padding: 40px 10px;
    /* border: 2px solid rebeccapurple; */
    padding: 2em;
    text-align: justify;
}
.main-container .inner-container .right .intro{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
}
.main-container .inner-container .right .education{
    font-size: 17px;
}
.main-container .inner-container .right .education .edu{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}
.main-container .inner-container .right .education .edu .edu-box{
    border-left:3px solid yellow; 
    margin-left: 3px;
    padding: 8px 5px 5px 1em;
    font-size: 15px;
    font-weight: 600;
}
.main-container .inner-container .right .education .edu .edu-box .year{
    background-color: yellow;
    padding:4px;
}
.main-container .inner-container .right .education .edu .edu-box .clg{
    padding-top: 8px
}
.main-container .inner-container .left{
    /* border: 2px solid rebeccapurple; */
    height: 460px;
    width: 700px;
    margin: 15px;
    padding: 2em;
}