<div class="main-container">
    <div class="title">
        <h3>Experience. <span class="line"></span></h3>
    </div>
    <div class="inner-container">
        <div class="left">
            <img src="assets/icl.jpg" alt="img">
        </div>
        <div class="right">
            <div class="intro">
                <p style="font-size: 20px; font-weight: 700;">Company - MRND Pvt Ltd, Akurdi.</p>
                <table>
                    <tr id="tbr">
                        <td><fa-icon [icon]="arrow"></fa-icon></td>
                        <td>Worked as Junior Full Stack Java Application Developer - Intern as a role in the Software Development Unit</td>
                    </tr>
                    <tr id="tbr">
                        <td><fa-icon [icon]="arrow"></fa-icon></td>
                        <td> Developed Desktop UI and Database connectivity of application.</td>
                    </tr>
                    <tr id="tbr">
                        <td><fa-icon [icon]="arrow"></fa-icon></td>
                        <td>Contributed in Desktop Application development Dental Clinic Appointment System project in which we developed fully appointment system.</td>
                    </tr>
                    <tr id="tbr">
                        <td><fa-icon [icon]="arrow"></fa-icon></td>
                        <td>Technology used: <br>
                            Environment - Java Swing and MYSQL database. <br>
                            IDE - Eclipse. 
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>