.main-container{
    width: 90em;
    height: 95%;
    position: relative;
    top: 50px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}
.main-container .title{
    padding: 10px;
    margin-left: 3rem;
    font-size: 16px;
    font-weight: bold;
}
.main-container .title .line{
    padding: 0px 40rem 0px 0px;
    border-bottom: 2px solid black;
    font-size: 2px;
}
.main-container .inner-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid rebeccapurple; */
}
.main-container .inner-container .left img{
    height: 100%;
    /* width: 50%; */
}

.main-container .inner-container .right{
    margin: 15px;
    padding: 2em;
    /* text-align: justify; */
}
.main-container .inner-container .right .intro{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1em;
}
.main-container .inner-container .left{
    /* border: 2px solid rebeccapurple; */
    height: 460px;
    width: 30rem;
    margin: 15px;
    padding: 2em;
}
@media (max-width:9000px) {
    .main-container{
        width: 75em;
    }
}
@media (max-width:650px) {
    .main-container{
        width: 40em;
    }
    .main-container .title .line{
        padding: 0px 25rem 0px 0px;

    }
    .main-container .title{
        margin-left: 1rem;
    }
    .main-container .inner-container{
        display: flex;
        flex-direction: column;
    }
    .main-container .inner-container .left{
        text-align: center;
    }
    .main-container .inner-container .right{
        width: 500px;
        margin-left: 10px;
        padding-left: 15px;
    }
}

@media (max-width:400px){
    .main-container{
        width: 30em;
    }
    .main-container .title .line{
        padding: 0px 20rem 0px 0px;
    }
}