<div class="main-container">
    <div class="title">
        <h3>Experience. <span class="line"></span></h3>
    </div>
    <div class="inner-container">
        <div class="left">
            <img src="assets/icl.jpg" alt="img">
        </div>
        <div class="right">
            <div class="intro">
                Company - MRND Pvt Ltd, Akurdi. <br>
                ● Worked as Junior Full Stack Java Application Developer - Intern as a role in the Software Development Unit. <br>
                ● Developed Desktop UI and Database connectivity of application.<br>
                ● Contributed in Desktop Application development Dental Clinic Appointment System project in which we developed fully appointment system. <br>
                ● Technology used - <br>
                &nbsp; &nbsp; Environment - Java Swing and MYSQL database. <br>
                &nbsp; &nbsp; IDE - Eclipse. <br>
            </div>
        </div>
    </div>
</div>