.main-container-projects {
    width: 100%;
    height: auto;
    position: relative;
    top: 6rem;
}

.main-container-projects .inner-container {
    width: auto;
    height: auto;
    margin: 30px;
}

.main-container-projects .inner-container .title {
    padding: 10px;
    margin-left: 3rem;
    font-size: 20px;
    font-weight: bold;
}

.main-container-projects .inner-container .title .line {
    padding: 0px 40rem 0px 0px;
    border-bottom: 2px solid black;
    font-size: 2px;
}

.main-container-projects .inner-container .projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main-container-projects .inner-container .projects .project-box {
    height: 60vh;
    width: 30%;
    margin: 2rem 1rem;
    background-color: white;
    box-shadow: rgb(191, 188, 188) 6px 6px 5px;
}

.main-container-projects .inner-container .projects .project-box .btns {
    text-align: center;
}

.main-container-projects .inner-container .projects .project-box .btns .link-btn {
    padding: 6px;
    border-radius: 50%;
    height: 40px;
    margin: 10px;
    background-color: white;
    cursor: pointer;
}

.link-btn img {
    width: 25px;
}

.gittooltiptext, .demotooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 5;
    position: absolute;
    bottom: 2.7rem;
    left: -2.5rem;
}
.gittooltiptext::after, .demotooltiptext::after  {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


.main-container-projects .inner-container .projects .project-box .btns .link-btn:hover {
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.link-btn:hover .gittooltiptext{
    visibility: visible;
}
.link-btn:hover .demotooltiptext{
    visibility: visible;
}

.main-container-projects .inner-container .projects .project-box .info {
    text-align: center;
    margin: 8px;
}

.main-container-projects .inner-container .projects .project-box .info .pimg img {
    height: 190px;
    width: 95%;
    margin: 8px;
}

.main-container-projects .inner-container .projects .project-box .info .desc {
    font-size: 16px;
    font-weight: 600;
}

.main-container-projects .inner-container .projects .project-box .info .skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-container-projects .inner-container .projects .project-box .info .skill p {
    border: 2px solid blueviolet;
    margin: 8px;
    padding: 5px 6px;
    text-align: center;
    box-shadow: rgb(191, 191, 188) 3px 3px 3px;
    font-size: 12px;
}

@media (max-width:1100px) {

    .main-container-projects .inner-container .projects{
        width: 100%;
    }

    .main-container-projects .inner-container .projects .project-box{
        width: 100%;
    }

    .main-container-projects .inner-container .projects .project-box .info .desc {
        font-size: 14px;
    }
    .main-container-projects .inner-container .projects .project-box .info .skill p{
        font-size: 10px;
    }
}

@media (max-width:650px) {
    .main-container-projects{
        top: 8rem;
        width: 35rem;
    }
    .main-container-projects .inner-container{
        display: flex;
        flex-direction: column;
    }
    .main-container-projects .inner-container .title .line{
        padding: 0px 18rem 0px 0px;

    }
    main-container-projects .inner-container .projects{
        width: 100%;
    }
    .main-container-projects .inner-container .projects .project-box{
        width: 100%;
        /* height: 60vh; */
    }
    
    .main-container-projects .inner-container .projects .project-box .info .desc {
        font-size: 16px;
    }
    .main-container-projects .inner-container .projects .project-box .info .skill p{
        font-size: 12px;
    }

}
@media (max-width:400px){
    .main-container-projects .inner-container .projects{
        width: 30rem;
    }
    .main-container-projects .inner-container .projects .project-box{
        height: 60vh;
    }
}
