<div class="main-container-skills">
    <div class="inner-container">
        <div class="title">Tools and Technologies. <span class="line"></span></div>
        <div class="skills-set">
            <div class="col">
                <div class="skill">
                    <img src="/assets/java.png" alt="">
                    <div class="skill-text">Java</div>
                </div>
                <div class="skill">
                    <img src="/assets/python.png" alt="">
                    <div class="skill-text">Python</div>
                </div>
                <div class="skill" [style]="'background-color: #ff4369; color: white'">
                    <img src="/assets/angular.png" alt="">
                    <div class="skill-text">Angular</div>
                </div>
                <div class="skill">
                    <img src="/assets/javascript.png" alt="">
                    <div class="skill-text">JavaScript</div>
                </div>
                <div class="skill">
                    <img src="/assets/typescript.png" alt="">
                    <div class="skill-text">TypeScript</div>
                </div>
                <div class="skill">
                    <img src="/assets/spring-boot.png" alt="">
                    <div class="skill-text">Spring-Boot</div>
                </div>
                <div class="skill">
                    <img src="/assets/hibernate.png" alt="">
                    <div class="skill-text">Hibernate</div>
                </div>
            </div>
            <div class="col">
                <div class="skill">
                    <img src="/assets/html.png" alt="">
                    <div class="skill-text">HTML</div>
                </div>
                <div class="skill">
                    <img src="/assets/css.png" alt="">
                    <div class="skill-text">CSS</div>
                </div>
                <div class="skill">
                    <img src="/assets/bootstrap.png" alt="">
                    <div class="skill-text">Bootstrap</div>
                </div>
                <div class="skill">
                    <img src="/assets/mysql.png" alt="">
                    <div class="skill-text">MySQL</div>
                </div>
                <div class="skill">
                    <img src="/assets/mongodb.png" alt="">
                    <div class="skill-text">Mongodb</div>
                </div>
                <div class="skill">
                    <img src="/assets/vscode.png" alt="">
                    <div class="skill-text">VS Code IDE</div>
                </div>
                <div class="skill">
                    <img src="/assets/eclipse.png" alt="">
                    <div class="skill-text">Eclipse IDE</div>
                </div>
            </div>
        </div>
    </div>
</div>