<div class="main-container">
    <div class="left">
        <div class="text-1">Hello! I'm </div>
        <div class="text-2">CHETAN CHOPADE</div>
        <div class="text-3">
            And I'm a <span class="desg">Web Developer</span>
        </div>
        <div class="contact-img">
            <ul class="social_icon">
                <li><a target="_blank" href="mailto:chetan17302@gmail.com">
                    <fa-icon [icon]="faEmail"></fa-icon>
                </a></li>
                <li><a target="_blank" href="">
                    <fa-icon [icon]="faLinkedIn"></fa-icon>
                </a></li>
                <li><a target="_blank" href="">
                    <fa-icon [icon]="faHackerRank"></fa-icon>
                </a></li>
                <li><a target="_blank" href="">
                    <fa-icon [icon]="faInsta"></fa-icon>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <img src="assets/cc.png" alt="img">
    </div>
</div>
