.main-container{
    width: 100%;
    height: 85%;
    position: relative;
    top: 80px;
    padding: 50px 20px;
    display: flex;
}
.main-container .left{
    margin: 70px 10px 70px 50px;
    padding: 40px 10px;
    /* border: 2px solid rebeccapurple; */
}
.main-container .left .text-1{
    font-size: 27px;
}
.main-container .left .text-2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -6px;
}
.cursor {
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 1.2em;
    background-color: black;
    animation: blink 0.5s infinite alternate; /* Blinking animation */
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.main-container .left .text-3{
    font-size: 30px;
}
.contact-img{
    margin: 8px;
    padding: 8px;
}
.contact-img .social_icon{
    display: flex;
    /* flex-direction: row; */
    column-gap: 2rem;
    font-size: 1.5rem;
}
.contact-img .social_icon li{
    list-style: none;
    background-color: rebeccapurple;
    /* background-color: yellow; */
    border-radius: 5px;
    padding: 6px 8px;
}
.contact-img .social_icon li a{
    color: white;
}

.main-container .right{
    /* border: 2px solid rebeccapurple; */
    height: 400px;
    width: 700px;
    margin-left: 3rem ;
    margin-top: 4rem;
}
.main-container .right img{
    width: 100%;
    height: 100%;
}

@media (max-width:650px) {
    .main-container{
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
        /* border: 2px solid rebeccapurple; */
    }
    .main-container .left .text-2{
        font-size: 60px;
    }
    .main-container .left{
        width: auto;
        margin-left: 0rem;
        margin-bottom: 50px;
        /* border: 2px solid red; */
    }
    .main-container .right{
        display: none;
        /* border: 2px solid red; */
    }
}